doctype html
html[lang="en"]
  head
    meta[charset="UTF-8"]
    meta[name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"]
    title
      | Bento | Turn Key Web Solutions
    link[rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico"]
    link[rel="stylesheet" href="css/magnific-popup.css"]
    link[rel="stylesheet" href="css/style.css"]
    link[href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400" rel="stylesheet" type="text/css"]
    script[src="js/jquery-1.11.0.min.js" type="text/javascript"]
    script[src="js/jquery.fullscreener.min.js" type="text/javascript"]
    script[src="js/jquery.magnific-popup.min.js" type="text/javascript"]
    script[src="js/jquery.selectbox-0.2.min.js" type="text/javascript"]
    script[src="js/validator.js" type="text/javascript"]
    script[src="js/jquery.touchSwipe.min.js" type="text/javascript"]
    script[src="js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"]
    script[src="js/functions.js" type="text/javascript"]
    script
      |  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-56338578-1', 'auto'); ga('send', 'pageview'); 
  body
    .wrapper
      header.header.header-top
        a.expand[href="#"]
        .shell
          a.logo[href="index.html"]
            | Bento
          nav.nav
            ul
              li
                a[href="project.html"]
                  | START YOUR PROJECT
              li
                a[href="contact.html"]
                  | CONTACT US
              li
                a[href="apply.html"]
                  | JOIN THE TEAM
              li
                a[href="agencies.html"]
                  | FOR AGENCIES
      .intro
        img.intro-bg[src="css/images/desk.jpg" alt="" width="1600" height="776"]
        .intro-content
          .shell
            h2
              | Beautiful and Effortless Design and Development
            p
              | You choose what work you need done for your next project
              br
              | and our handpicked designers and developers automatically get it done.
            p
              a.btn[href="project.html"]
                | START YOUR PROJECT NOW
      header.header.header-secondary
        .shell
          a.expand[href="#"]
          a.logo[href="#"]
            | TeamLead
          nav.nav
            ul
              li
                a[href="project.html"]
                  | START YOUR PROJECT
              li
                a[href="contact.html"]
                  | CONTACT US
              li
                a[href="apply.html"]
                  | JOIN THE TEAM
              li
                a[href="agencies.html"]
                  | FOR AGENCIES
      section.section
        .shell
          header.section-head
            h2
              | How Our Process Works
            p
              | Our process is simple, proven, and always results in work you are guaranteed to be happy with.
          .section-body
            ul.features.clearfix
              li.feature
                .feature-imge
                  i.ico-note
                h3
                  | Pick a Project Type and Supply a Brief
              li.feature
                .feature-imge
                  i.ico-buble
                h3
                  | Provide Visual Comments and Approve the Work
              li.feature
                .feature-imge
                  i.ico-code
                h3
                  | Email or Site is Developed
              li.feature
                .feature-imge
                  i.ico-cloud
                h3
                  | Your Files are Finalized and Ready for Download
      .section-partners
        .shell
          h2
            | Our Team Members Have Worked With
          ul.list-partners
            li
              img[src="images/partners/partner-paypal.png" alt="" width="149" height="42"]
            li
              img[src="images/partners/partner-yammer.png" alt="" width="168" height="35"]
            li
              img[src="images/partners/partner-google.png" alt="" width="134" height="46"]
            li
              img[src="images/partners/partner-airbnb.png" alt="" width="132" height="42"]
            li
              img[src="images/partners/partner-facebook.png" alt="" width="173" height="35"]
      .section.section-casestudy
        .shell
          .section-head
            h2
              | Some of the Work We Have Done
            p
              | Here is some fo the work that we have done lately for our clients.
          .section-body
            ul.casestudies
              li.casestudy
                .casestudy-image
                  img[src="images/portfolio/ipictures-theme/ipictures-theme-thumb.jpg" alt="" width="387" height="313"]
                a.casestudy-overlay.popup-link[href="portfolio/ipictures-theme.html"]
                  i.ico-zoom
                .casestudy-head
                  h3
                    | iPictures Theme
                  p
                    | Wordpress Website
              li.casestudy
                .casestudy-image
                  img[src="images/portfolio/secret-recipe-app/secret-recipe-app-thumb.jpg" alt="" width="387" height="313"]
                a.casestudy-overlay.popup-link[href="portfolio/secret-recipe-app.html"]
                  i.ico-zoom
                .casestudy-head
                  h3
                    | Secret Recipe App
                  p
                    | iPhone Application
              li.casestudy
                .casestudy-image
                  img[src="images/portfolio/ellis-porter/ellis-porter-thumb.jpg" alt="" width="387" height="313"]
                a.casestudy-overlay.popup-link[href="portfolio/ellis-porter.html"]
                  i.ico-zoom
                .casestudy-head
                  h3
                    | Ellis Porter
                  p
                    | Logo
              li.casestudy
                .casestudy-image
                  img[src="images/portfolio/frontier-theme/frontier-theme-thumb.jpg" alt="" width="387" height="313"]
                a.casestudy-overlay.popup-link[href="portfolio/frontier-theme.html"]
                  i.ico-zoom
                .casestudy-head
                  h3
                    | Frontier Theme
                  p
                    | Wordpress Website
              li.casestudy
                .casestudy-image
                  img[src="images/portfolio/flixus/flixus-thumb.jpg" alt="" width="387" height="313"]
                a.casestudy-overlay.popup-link[href="portfolio/flixus.html"]
                  i.ico-zoom
                .casestudy-head
                  h3
                    | Flixus
                  p
                    | Website
              li.casestudy
                .casestudy-image
                  img[src="images/portfolio/yammer/yammer-thumb.jpg" alt="" width="387" height="313"]
                a.casestudy-overlay.popup-link[href="portfolio/yammer.html"]
                  i.ico-zoom
                .casestudy-head
                  h3
                    | Yammer
                  p
                    | Wordpress Website
      .section.section-services
        .shell
          .section-head
            h2
              | Types of Projects We Work On
            p
              | Here are some of the types of projects that we can help you with.
          .section-body
            ul.services
              li.service
                a[href="project.html#branding"]
                  i.ico.ico-logos
                h1
                  | Logos / Branding
              li.service
                a[href="project.html#branding"]
                  i.ico.ico-presentation
                h1
                  | Presentations
              li.service
                a[href="project.html#branding"]
                  i.ico.ico-banner
                h1
                  | Banner Ads
              li.service
                a[href="project.html#websites"]
                  i.ico.ico-rocket
                h1
                  | HTML Emails
              li.service
                a[href="project.html#websites"]
                  i.ico.ico-code-lg
                h1
                  | HTML Websites
              li.service
                a[href="project.html#websites"]
                  i.ico.ico-wp
                h1
                  | Wordpress
          .section-actions
            a.btn[href="project.html"]
              | START YOUR PROJECT TODAY
      .section.section-testimonilas
        .shell
          .section-head
            h2
              | Clients Love Us
            p
              | Here are testimonials from just a couple of the clients we’ve worked with.
          .section-body
            ul.testimonilas
              li.testimonial
                blockquote
                  p
                    | “Teamlead’s process was simple and their work was top notch. They turned my Wordpress site around fast and it looked awesome. I’m happy to work with them again.”
                .testimonial-autor.clearfix
                  .testimonial-autor-image
                    img[src="images/testimonials/jeremy-vandehey.png" alt="" width="94" height="94"]
                  .testimonial-autor-content
                    h4
                      | Jeremy Vandehey
                    p
                      |  Marketing Director - 
                      a[href="#"]
                        | Armstong Law
              li.testimonial
                blockquote
                  p
                    | “I came to TeamLead with little experience with websites. They helped me understand what was important and made the whole process easy for me.”
                .testimonial-autor.clearfix
                  .testimonial-autor-image
                    img[src="images/testimonials/jena-dodd.png" alt="" width="85" height="85"]
                  .testimonial-autor-content
                    h4
                      | Jena Dodd
                    p
                      |  Marketing - 
                      a[href="#"]
                        | Outcast Agency
      .section.section-callout
        .shell
          .callout
            h2
              | Want to Join the Team?
            p
              | We are looking for amazing designers who like to work on a variety of 
              br
              |  projects and want to grow with us. If that’s you then apply now.
            p
              a.btn-callout[href="apply.html"]
                | APPLY NOW
      #footer-push
    .footer
      .shell
        .copyright
          | © Copyright 2014. All Rights Reserved 
