/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.form-errors {
    margin: 0;
    padding: 0;
    color: rgb(220,50,20);
    font-weight: bold;
    font-size: 0.8em; 
    position:relative;
    top: -0.5em;
}

.form-business-card .counter-input {
float: none;
padding-left: 0;
border: 1px solid #DCE3EF;
border-radius: 3px;
}

.form-business-card .counter-field {
line-height: 60px;
height: 60px;
font-size: 20px;
border-left: 1px solid #DCE3EF;
border-right: 1px solid #DCE3EF;
}

.form-header-row {
border-bottom: 1px solid #d1dae8;
padding-bottom: 0.5em;
margin-bottom: 1em;
padding-top:1em;
}

.form-row .errors {
    font-size: 0.8em;
    font-weight: bold;
    color: #ee5544; }

.form-row .success {
    font-size: 0.8em;
    font-weight: bold; }

.list-item:hover {
    cursor: pointer;
    background-color: #F6f6f6; }
    
.intro-bg {
    z-index: -1;}

.intro {
    background-image: url('/css/images/desk.jpg');
    background-size: cover; }

.form.form-access.form-sign-up .form-foot p {
margin-bottom: 20px;
}

.col_flex {
width: auto;
float: left;
padding-right: 1.5em;
}


.post_img img {
    height: 50px;
    width: 50px;
    border-radius: 25px; }


button.btn.btn-sm {
    padding: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-weight: normal !important;
    font-family: 'open sans';
    font-size: 12px;
    }

button.btn.btn-sm.btn-edit-payment {
    margin-left: 1em; }

#project-invoice {
    position: relative; }

#new-payment-amount-popup {
    position: absolute;
    width: 18em;
    height: 8em;
    border: 1px solid #d7d7d7;
    background-color: white;
    display: none;
    padding: 1.5em;
    text-align: center; }

#new-payment-amount-popup  input.field{
    margin-top: 0.75em;
    clear: both;
    margin-bottom: 0.75em; }

#new-payment-amount-popup  input.submit{
    padding: 0.5em;
    height:auto;
    padding-left:1em;
    padding-right:1em;
    font-size: 0.8em; }

.new-payment-amount {
    display: inline;
    display: none;
}
.new-payment-amount input.field {
width: 4em;
border: 1px solid #dce3ef;
margin-left: 0.2em;
margin-right: 0.35em;
background: #f4f6fa;
border-radius: 3px;
overflow: hidden;
height: auto;
padding: 0.2em 0.4em;
box-sizing: border-box;
}

a.btn-edit-payment, a.submit-payment {
    cursor: pointer; }

.devise .field input[type="checkbox"] { 
    display: inline-block;
    width: auto;
    padding: 0;
    height: auto;
    margin-right: 0.66em;
}

.devise .field input {
width: 100%;
border: 1px solid #dce3ef;
background: #f4f6fa;
border-radius: 3px;
overflow: hidden;
height: 50px;
padding: 12px;
box-sizing: border-box;
}
.devise .field br {
    display: none; 
}
.devise .field {
    margin-bottom: 1.25em;
}
.devise .field label {
font-weight: 700;
color: #525f71;
padding-bottom: 15px;
display: inline-block; }

.devise input[type="submit"], .devise button {
background: #5661e8;
border-radius: 5px;
color: #fff;
font-family: 'proxima_nova_rgbold', arial, serif;
font-size: 15px;
text-transform: uppercase;
padding: 15px 44px;
display: inline-block;
border: 0;
cursor: pointer;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
margin-bottom: 0.75em; 
}

#progress-bar {
    display: none;
}

.devise form {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 35%;
}

.devise {
    text-align: center; }


textarea.textarea.textarea-small {
    height: 5em; }

.outlined-box {
    width: calc(100% - 3.3em);
    border-radius: 0.14em;
    border: 0.15em solid #dbe2f2;
    padding: 1.5em;
    padding-top: 0.75em; }

.outlined-box label {
    font-weight: bold;
    clear: both;
    display: block;
    font-size: 1.15em; }

.outlined-box ul {
    padding-top: 0.75em;
    padding-left: 1.5em;
    padding-bottom: 1em; }

.outlined-box ul li{
    list-style-type: circle; }

button.btn.upload-btn {
    background-color: #899eb9;
    font-weight: normal !important;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

#uploading-files .attachment {
    position: relative;
    width: 5em;
    height: 5em;
    display: inline-block;
    text-align: center;
    margin-right: 1.5em;
    background-color: #f5f5f9;
    color: #767b91;
    border: 0.1em solid #8a9eb7; }

#uploading-files .attachment .label {
    max-width: 4.3rem;
    margin-left: 0.35em;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.7em; }

#uploading-files .attachment .close-link{
    position: absolute;
    top: -0.3em;
    right: -0.3em;
    width: 1.15em;
    height: 1.15em;
    color: white;
    background-color: #474b57;
    z-index:10;
    border-radius: 0.5em; }

#uploading-files .attachment .close-link:hover{
    cursor: pointer;
    background-color: #899eb9; }

#uploading-files .attachment .paperclip {
    font-size: 2em;
    color: #90a0ba;
    margin-top: 0.4em;
    margin-bottom: 0em; }
    

.people-entry .avatar {
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.25em;
    float: left; 
    margin-right: 0.75em;
}

#enter-invite #enter-email {
    height: 1.5em;
    border: 0.12em solid #bababa;
    border-radius: 0.25em;
    padding: 0.75em;
    margin-right: 0.75em;
    width: 60%;
}

#enter-invite #submit-invite {
    cursor: pointer; }

.hidden {
    display: none!important; }

.right_container ul.box_list li .col_four.people-entry span.invite-sent {
    font-weight: normal;
    font-family: 'Open Sans', Arial, sans-serif;
    padding-top: 0.15em;
    font-size: 15px;
    color: #888;
    font-style: italic; }

.no-email span {
    padding-top: 0.5em; }


.site-popup .popup-body .popup-head h2{
    font-weight: normal;
    margin-bottom: 1em; }

.site-popup .popup-body {
    padding-top: 1em;
    text-align: center; }

.site-popup .popup-foot {
    font-size: 0.9em;
    line-height: 1.5;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    padding-bottom: 1rem;
    }

.site-popup .btn {
    margin-top: 1em; }

.site-popup p {
    padding-bottom: 1em;
    }
    
.site-popup .separator {
    height: 1px;
    width: 100%;
    border-top: 1px solid #eee; 
    }


.section-head a.right-link {
    float: right;
    display: block;
    padding-top: 0.5em;
}

.right {
    margin-left: 0.66em;
    float: right; }

a.right {
    cursor: pointer; }

a.delete {
    font-weight: bold;
    color: #c11; }

#error_explanation h2 { display: none; }
#error_explanation ul li {list-style-type: none; }

