/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.form-errors {
    margin: 0;
    padding: 0;
    color: rgb(220,50,20);
    font-weight: bold;
    font-size: 0.8em; 
    position:relative;
    top: -0.5em;
}

.form-business-card .counter-input {
float: none;
padding-left: 0;
border: 1px solid #DCE3EF;
border-radius: 3px;
}

.form-business-card .counter-field {
line-height: 60px;
height: 60px;
font-size: 20px;
border-left: 1px solid #DCE3EF;
border-right: 1px solid #DCE3EF;
}

.form-header-row {
border-bottom: 1px solid #d1dae8;
padding-bottom: 0.5em;
margin-bottom: 1em;
padding-top:1em;
}

.form-row .errors {
    font-size: 0.8em;
    font-weight: bold;
    color: #ee5544; }

.form-row .success {
    font-size: 0.8em;
    font-weight: bold; }

.list-item:hover {
    cursor: pointer;
    background-color: #F6f6f6; }
    
.intro-bg {
    z-index: -1;}

.intro {
    background-image: url('/css/images/desk.jpg');
    background-size: cover; }