// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mfp-content {
  #log-in-form, #sign-up-form {
    a {
      color: #B0996D;
    }
    small {
      a {
        color: #718097;
      }
    }
  }
}

.page_content {
  &.designers_list_content {
    .left_section {
      width: 440px;
      float: left;
      padding-top: 10px;
    }
    .right_section {
      width: 270px;
      float: right;
      padding-bottom: 20px;
      text-align: right;
    }
    .designer_box {
      padding: 0px;

      table {
        tr {
          &.list-item {
            cursor: default;
            
          }
          td {
            .available-area {
              border-radius: 6px;
              text-align: center;
              max-width: 90px;
              color: white;

              &.available {
                background-color: #5DB75D;
              }

              &.unavailable {
                background-color: #DB524F;  
              }
            }
          }
        }
      }
    }  
  }
}
